@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic.eot');
	src: local('Century Gothic'), local('CenturyGothic'),
		url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('CenturyGothic.woff') format('woff'),
		url('CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic-Bold.eot');
    src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
        url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('CenturyGothic-Bold.woff') format('woff'),
        url('CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}